/* Esconde todos os elementos inicialmente */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Caprasimo&display=swap');

.carousel {
    max-height: 100%;
}


/* Estiliza o título da opção escolhida */
.teste {
    background-color: #4F4D4D;
    margin: 0 0 -12px 0;
    display: flex;
    justify-content: center;
}

#titulo-secao {
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 2px;
    height: 18px;
}

/* Estiliza a img carrinho */

#carrinho {
    width: 18px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    cursor: pointer;
    right: 12px;
    position: absolute;
    /* Agora, ele fica posicionado dentro de um contêiner específico */
    margin-top: 5px;
    z-index: 1050;
}


/* Quando clicada, deve ficar 20% maior */
#carrinho:hover {
    transform: scale(1.2);
}


/* Estiliza a caixa de produtos */
#plebeusSmash1,
#plebeusSmash3,
#plebeusSmash5,
#plebeus1,
#plebeus3,
#reisRainhas1,
#reisRainhas3,
#reisRainhas5,
#reisRainhas7,
#nobresConvidados1,
#nobresConvidados3,
#escudeiros1,
#escudeiros3,
#escudeiros5,
#escudeiros7,
#milkShake1,
#milkShake3,
#sobremesas1,
#sobremesas3,
#cerveja1,
#cerveja3,
#cerveja5,
#cerveja7,
#cerveja9,
#bebida1,
#bebida3,
#bebida5,
#bebida7,
#bebida9,
#bebida11,
#bebida13,
#bebida15,
#bebida17 {
    width: 100%;
    /* Define a largura da div */
    height: 235px;
    padding: 0 0 0 10px;
    display: flex;
    margin-top: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    /* Apenas sombra sem borda */






}

/* Estiliza a caixa de produtos */
#plebeusSmash2,
#plebeusSmash4,
#plebeus2,
#plebeus4,
#reisRainhas2,
#reisRainhas4,
#reisRainhas6,
#nobresConvidados2,
#escudeiros2,
#escudeiros4,
#escudeiros6,
#milkShake2,
#milkShake4,
#sobremesas2,
#cerveja2,
#cerveja4,
#cerveja6,
#cerveja8,
#bebida2,
#bebida4,
#bebida6,
#bebida8,
#bebida10,
#bebida12,
#bebida14,
#bebida16 {
    max-width: 100%;
    /* Define a largura da div */
    height: 235px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    /* Apenas sombra sem borda */
    padding: 0 0 0 10px;
    display: flex;
    margin-top: 30px;


}

.te {
    margin-right: 25px;
}

#plebeusSmash5,
#plebeusSmash4,
#nobresConvidados3,
#plebeus1,
#plebeus2,
#escudeiros5,
#sobremesas2,
#sobremesas1 {
    height: 265px;
}

#plebeus4,
#plebeus3,
#reisRainhas2,
#reisRainhas4,
#reisRainhas1,
#reisRainhas6,
#nobresConvidados1,
#escudeiros6,
#escudeiros4 {
    height: 293px;

}



#reisRainhas5,
#reisRainhas3,
#nobresConvidados2,
#reisRainhas7,
#escudeiros3 {
    height: 320px;
}

#secao1,
#secao2,
#secao3,
#secao4,
#secao5,
#secao6,
#secao7,
#secao8,
#secao9 {

    margin: 14px;


}

.texto h3 {

    font-size: 26px;
    margin: 14px 0 0 12px;


}

.texto h4 {
    font-size: 18px;
    margin: 12px 0 0 12px;

}

/* Infor do produto */
.texto p {
    margin: 18px 0 18px 12px;
    font-family: "Cabin", serif;
    color: #858585;
    width: 320px;
    font-size: 21px;
    font-weight: 900;

}


.img-direita {
    padding: 15px 0 0 0;
    margin-left: 45px;
    width: 200px;
    height: 180px;


}

.img-esquerda {
    padding: 20px 0 0 0;
    margin-left: 45px;
    width: 200px;
    height: 180px;

}

.quantidade button {
    color: rgb(0, 0, 0);
    border: none;
    background-color: white;
    margin-bottom: 10px;
    font-size: 25px;


}

#preco {
    margin-top: 5px;


}

#quantidade {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.quantidade {
    margin-left: 130px;
    margin-top: -56px;
    position: static;
    font-weight: bold;
}


button.add-to-cart {
    background: linear-gradient(to bottom, #666, #000);
    /* Gradiente do cinza ao preto */
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra para dar destaque */
    font-size: 12px;
    margin-left: 10px;
}

.preco-qtde {
    display: flex;


}

.imgs {
    display: flex;
    flex-direction: column;

}

.olho {
    margin-top: 10px;
    margin-left: 230px;
    margin-right: 15px;
    width: 25px;
}


.cabeca {
    height: 300px;
    width: 100%;


    background-image: url(imgs/cabeçalho.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Muda a cor da opção quando clicada */
.active-link {
    color: #949494;
    background-color: #000000;
}

/* Estiliza o hiperlink da opção */
a {
    color: #ffffff;
    /* Cor branca por padrão */
    text-decoration: none;
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-size: cover;
    height: 35px;
    justify-content: center;

}

li {
    padding: 5px 2px;
    color: #FFFFFF;
    font-family: "Caprasimo", serif;
    font-size: 15px;
    margin: 0 12px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Cor cinza para o link clicado */
.barra-escolha a.clicado {
    color: gray;
}


.barra-escolha {
    background-color: #000000;
}


li:hover {
    transform: scale(1.05);
    /* 20% maior */
}

footer {
    margin-top: 60px;
    background-color: black;
    color: white;
    text-align: center;
}

/* Esconde a navbar em telas maiores que 1024px */
@media (min-width: 900px) {
    .navbar {
        display: none !important;
    }
}

/* Mostra a navbar apenas em telas menores que 1024px */
@media (max-width: 990px) {
    .navbar {
        display: flex !important;
    }
}

@media (max-width: 990px) {
    .barra-escolha {
        display: none;
    }
}

@media (max-width: 1024px) {
    .active-link {
        color: #ffffff;
        background-color: #000000;
        padding: 7px 100px 7px 10px;



    }

    .navbar-toggler {
        display: block !important;
        /* Garante que o botão apareça */
    }
}

@media (min-width: 990px) {
    .navbar-toggler {
        display: none !important;
        /* Oculta o botão em telas maiores */
    }
}


@media screen and (max-width: 399px) {

    #carrinho {
        width: 18px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
        left: 12px;
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        margin-top: 4px;
        z-index: 1050;
    }

    ul {
        margin-top: 110px;
    }


    .active-link {
        color: white;
        background-color: black;
        padding: 7px 130px 7px 10px;
    }

    a {
        color: #000000;
        font-size: 13px;
    }

    .navbar {
        background-color: black !important;
        height: 30px;
    }

    .navbar-toggler {
        border: 1px solid white;
        /* Define a cor e espessura da borda */
        border-radius: 3px;
        /* Arredondar as bordas */
        padding: 5px;
        /* Ajuste de tamanho */
        width: 20px;
        height: 20px;
        margin-top: -3px;
    }

    .navbar-toggler-icon {
        width: 13px;
        /* Ajuste o tamanho conforme necessário */
        height: 10px;
        /* Ajuste o tamanho conforme necessário */
        color: rgb(255, 255, 255);
        margin-top: -17px;
        margin-left: -2px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    #plebeusSmash1,
    #plebeusSmash3,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 120px;
        /* Define a altura da div */
        border: 2px solid rgb(242, 242, 242);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;


    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 120px;
        /* Define a altura da div */
        border: 2px solid rgb(242, 242, 242);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;



    }

    #plebeusSmash5,
    #plebeusSmash4,
    #nobresConvidados3,
    #plebeus2,
    #plebeus1,
    #escudeiros5 {
        height: 135px;
    }

    #plebeus4,
    #plebeus3,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas3,
    #reisRainhas6,
    #nobresConvidados1,
    #nobresConvidados2,
    #escudeiros6 {
        height: 147px;

    }

    #reisRainhas5,
    #reisRainhas7,
    #reisRainhas1,
    #escudeiros4,
    #escudeiros3 {
        height: 147px;
    }
    #reisRainhas7 {
        height: 160px;
    }
    li {
        font-size: 8px;
    }


    .img-direita {
        padding: 15px 0 0 0;
        margin-left: -32px;
        width: 90px;
        height: 88px;
    }

    .img-esquerda {
        padding: 15px 0 0 0;
        margin-left: -32px;
        width: 90px;
        height: 88px;

    }

    .texto h3 {
        font-size: 12px;
        margin: 12px 7px;
        width: 170px;

    }

    /* Infor do produto */
    .texto p {
        margin: 7px;
        font-family: "Cabin", serif;
        font-weight: 900;
        color: #858585;
        font-size: 8px;
        width: 145px;

    }

    .texto h4 {
        font-size: 8px;
        margin: 12px 7px;
    }

    .olho {
        margin-top: 5px;
        margin-left: 50px;
        width: 13px;
        margin-right: 7px;
    }

    .quantidade button {
        font-size: 10px;
    }

    #preco {
        margin-top: -5px;

    }

    #quantidade {
        font-size: 10px;
        color: #000000;
    }

    .quantidade {
        margin-left: 50px;
        margin-top: -27px;

    }

    button.add-to-cart {
        margin-left: 5px;
        font-size: 5px;

    }

    footer {
        font-size: 8px;
    }


}

@media screen and (min-width: 400px) and (max-width: 600px) {

    #carrinho {
        width: 18px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
        left: 12px;
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        margin-top: 4px;
        z-index: 1050;
    }


    ul {
        margin-top: 120px;
        font-size: 20px;
    }


    .active-link {
        color: white;
        background-color: black;
        padding: 7px 160px 7px 10px;
    }

    a {
        color: #000000;
        font-size: 15px;
    }

    .navbar {
        background-color: black !important;
        height: 30px;
    }

    .navbar-toggler {
        border: 1px solid white;
        /* Define a cor e espessura da borda */
        border-radius: 3px;
        /* Arredondar as bordas */
        padding: 5px;
        /* Ajuste de tamanho */
        width: 20px;
        height: 20px;
        margin-top: -3px;
    }

    .navbar-toggler-icon {
        width: 13px;
        /* Ajuste o tamanho conforme necessário */
        height: 10px;
        /* Ajuste o tamanho conforme necessário */
        color: rgb(255, 255, 255);
        margin-top: -17px;
        margin-left: -2px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    #plebeusSmash1,
    #plebeusSmash3,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 145px;
        /* Define a altura da div */
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;


    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 145px;
        /* Define a altura da div */
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;



    }



    #plebeusSmash5,
    #plebeusSmash4,
    #nobresConvidados3,
    #plebeus2,
    #plebeus1,
    #escudeiros5 {
        height: 160px;
    }

    #plebeus4,
    #plebeus3,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas3,
    #reisRainhas6,
    #nobresConvidados1,
    #nobresConvidados2,
    #escudeiros6 {
        height: 175px;

    }

    #reisRainhas5,
    #reisRainhas7,
    #reisRainhas1,
    #escudeiros4,
    #escudeiros3 {
        height: 200px;
    }

    #secao1,
    #secao2,
    #secao3,
    #secao4,
    #secao5,
    #secao6,
    #secao7,
    #secao8,
    #secao9 {

        margin: 25px 25px;


    }


    .img-direita {
        padding: 15px 0 0 0;
        margin-left: -38px;
        width: 110px;
        height: 100px;
    }

    .img-esquerda {
        padding: 15px 0 0 0;
        margin-left: -35px;
        width: 110px;
        height: 100px;

    }

    .texto h3 {
        font-size: 15px;
        margin: 12px 7px;
        width: 170px;

    }

    /* Infor do produto */
    .texto p {
        margin: 7px;
        font-family: "Cabin", serif;
        font-weight: 900;
        color: #858585;
        font-size: 11px;
        width: 170px;

    }

    .texto h4 {
        font-size: 12px;
        margin: 12px 7px;
    }

    .olho {
        margin-top: 5px;
        margin-left: 65px;
        width: 15px;
        margin-right: 7px;
    }

    .quantidade button {
        font-size: 13px;
    }

    #preco {
        margin-top: -5px;

    }

    #quantidade {
        font-size: 13px;
        color: #000000;
    }

    .quantidade {
        margin-left: 75px;
        margin-top: -28px;

    }

    button.add-to-cart {
        margin-left: 8px;
        font-size: 8px;

    }


}

@media screen and (min-width: 601px) and (max-width: 767px) {

    #carrinho {
        width: 18px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
        left: 12px;
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        margin-top: 4px;
        z-index: 1050;
    }
    ul {
        margin-top: 110px;
    }

    .active-link {
        color: white;
        background-color: black;
        padding: 7px 160px 7px 10px;
    }

    a {
        color: #000000;
    }

    .navbar {
        background-color: black !important;
        height: 30px;
    }

    .navbar-toggler {
        border: 1px solid white;
        /* Define a cor e espessura da borda */
        border-radius: 3px;
        /* Arredondar as bordas */
        padding: 5px;
        /* Ajuste de tamanho */
        width: 20px;
        height: 20px;
        margin-top: -3px;
    }

    .navbar-toggler-icon {
        width: 13px;
        /* Ajuste o tamanho conforme necessário */
        height: 10px;
        /* Ajuste o tamanho conforme necessário */
        color: rgb(255, 255, 255);
        margin-top: -17px;
        margin-left: -2px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    /* Estiliza a caixa de produtos */
    #plebeusSmash1,
    #plebeusSmash3,
    #plebeusSmash5,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 198px;


    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeusSmash4,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 198px;


    }

    #plebeusSmash5,
    #plebeusSmash4,
    #nobresConvidados3,
    #plebeus2,
    #plebeus1,
    #plebeus4,
    #escudeiros5 {
        height: 220px;
    }

    #plebeus3,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas3,
    #reisRainhas6,
    #nobresConvidados1,
    #nobresConvidados2,
    #escudeiros6,
    #reisRainhas1 {
        height: 240px;

    }

    #reisRainhas5,
    #reisRainhas7,
    #escudeiros4,
    #escudeiros3 {
        height: 258px;
    }



    #secao1,
    #secao2,
    #secao3,
    #secao4,
    #secao5,
    #secao6,
    #secao7,
    #secao8,
    #secao9 {

        margin: 5px;
    }

    .texto p {
        font-size: 15px;

    }


    .img-direita {
        padding: 15px 0 0 0;
        margin: 4px 35px 0 47px;
        width: 160px;
        height: 140px;
    }

    .img-esquerda {
        padding: 15px 0 0 0;
        margin: 4px 35px 0 47px;
        width: 160px;
        height: 140px;

    }

    .texto h3 {
        font-size: 22px;
        margin: 15px 12px;
        width: 230px;

    }

    /* Infor do produto */
    .texto p {
        margin: 12px;
        font-family: "Cabin", serif;
        font-weight: 900;
        color: #858585;
        font-size: 16px;
        width: 250px;

    }

    .texto h4 {
        font-size: 16px;
        margin: 13px 12px;
    }

    .olho {
        margin-top: 7px;
        width: 20px;
        margin-left: 195px;
    }

    .quantidade button {
        font-size: 15px;
    }

    #preco {
        margin-top: -2px;

    }

    #quantidade {
        font-size: 15px;
        color: #000000;
    }

    .quantidade {
        margin-left: 110px;
        margin-top: -35px;

    }

    button.add-to-cart {
        margin-left: 8px;
        font-size: 10px;

    }

}

@media screen and (min-width: 768px) and (max-width: 989px) {
    #carrinho {
        width: 18px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
        left: 12px;
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        margin-top: 4px;
        z-index: 1050;
    }


    ul {
        margin-top: 110px;
    }

    li {
        padding: 5px 2px;
        width: 100%;
        color: #000000;
        font-family: "Caprasimo", serif;
        font-size: 14px;
        margin: 0 12px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

    }

    span {
        color: transparent;
    }

    .active-link {
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 7px 160px 7px 10px;



    }

    .barra-escolha a {
        /* Estilo normal dos links */
        background-color: transparent;
        /* Fundo transparente por padrão */
        color: white;
        /* Cor do texto padrão */
        padding: 10px;
        display: block;
    }

    .barra-escolha a.active-link {
        background-color: black;
        /* Fundo preto para o link ativo */
        color: white;
        /* Cor do texto em branco */
    }


    a {
        color: #000000;
        text-decoration: none;
        margin-right: 5px;

    }

    .navbar {
        background-color: black !important;
        height: 30px;
    }

    .navbar-toggler {
        border: 1px solid white;
        /* Define a cor e espessura da borda */
        border-radius: 3px;
        /* Arredondar as bordas */
        padding: 5px;
        /* Ajuste de tamanho */
        width: 20px;
        height: 20px;
        margin-top: -3px;
    }

    .navbar-toggler-icon {
        width: 13px;
        /* Ajuste o tamanho conforme necessário */
        height: 10px;
        /* Ajuste o tamanho conforme necessário */
        color: rgb(255, 255, 255);
        margin-top: -17px;
        margin-left: -2px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    #plebeusSmash1,
    #plebeusSmash3,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        min-width: 100%;
        /* Define a largura da div */
        height: 145px;
        /* Define a altura da div */
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;


    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        min-width: 100%;
        /* Define a largura da div */
        height: 145px;
        /* Define a altura da div */
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;



    }

    #plebeusSmash5,
    #plebeusSmash4,
    #nobresConvidados3,
    #plebeus2,
    #plebeus1,
    #escudeiros5 {
        height: 160px;
    }

    #plebeus4,
    #plebeus3,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas3,
    #reisRainhas6,
    #nobresConvidados1,
    #nobresConvidados2,
    #escudeiros6 {
        height: 175px;

    }

    #reisRainhas5,
    #reisRainhas7,
    #reisRainhas1,
    #escudeiros4,
    #escudeiros3 {
        height: 190px;
    }

    #secao1,
    #secao2,
    #secao3,
    #secao4,
    #secao5,
    #secao6,
    #secao7,
    #secao8,
    #secao9 {

        margin: 0;


    }

    .te {
        margin-right: 0;
        margin-left: 0;
    }


    .img-direita {
        padding: 15px 0 0 0;
        margin-left: -38px;
        width: 110px;
        height: 100px;
    }

    .img-esquerda {
        padding: 15px 0 0 0;
        margin-left: -35px;
        width: 110px;
        height: 100px;

    }

    .texto h3 {
        font-size: 15px;
        margin: 12px 7px;
        width: 170px;

    }

    /* Infor do produto */
    .texto p {
        margin: 7px;
        font-family: "Cabin", serif;
        font-weight: 900;
        color: #858585;
        font-size: 11px;
        width: 170px;

    }

    .texto h4 {
        font-size: 12px;
        margin: 12px 7px;
    }

    .olho {
        margin-top: 5px;
        margin-left: 65px;
        width: 15px;
        margin-right: 7px;
    }

    .quantidade button {
        font-size: 13px;
    }

    #preco {
        margin-top: -5px;

    }

    #quantidade {
        font-size: 13px;
        color: #000000;
    }

    .quantidade {
        margin-left: 75px;
        margin-top: -28px;

    }

    button.add-to-cart {
        margin-left: 8px;
        font-size: 8px;

    }


}

@media screen and (min-width: 990px) and (max-width: 1200px) {

    #carrinho {
        width: 18px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
        right: 12px;
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        margin-top: 4px;
        z-index: 1050;
    }

    #plebeusSmash1,
    #plebeusSmash3,
    #plebeusSmash5,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 175px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        padding: 0 0 0 10px;
        display: flex;
        margin-top: 30px;
        margin-left: -20px;
    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeusSmash4,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 175px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;
        margin-top: 30px;
    }

    #plebeusSmash5,
    #plebeusSmash4,
    #nobresConvidados3,
    #plebeus1,
    #plebeus2,
    #escudeiros5,
    #plebeus4,
    #sobremesas1 {
        height: 193px;
    }

    #plebeus3,
    #reisRainhas2,
    #reisRainhas5,
    #reisRainhas4,
    #reisRainhas3,
    #reisRainhas6,
    #nobresConvidados1,
    #nobresConvidados2,
    #escudeiros4,
    #escudeiros6 {
        height: 210px;

    }

    #reisRainhas7,
    #escudeiros3,
    #reisRainhas1 {
        height: 230px;
    }


    .img-direita {
        padding: 15px 15px 0 0;
        margin-left: 22px;
        width: 150px;
        height: 130px;

    }

    .img-esquerda {
        padding: 15px 15px 0 0;
        margin-left: 17px;
        width: 160px;
        height: 130px;

    }

    li {
        padding: 5px 0;
        color: #FFFFFF;
        font-family: "Caprasimo", serif;
        font-size: 12px;
        margin: 0 7px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .texto h3 {

        font-size: 19px;
        margin: 12px 0 0 12px;


    }

    .texto h4 {
        font-size: 14px;
        margin: 12px 0 0 12px;

    }

    /* Infor do produto */
    .texto p {
        margin: 12px 0 12px 12px;
        font-family: "Cabin", serif;
        font-size: 15px;
        color: #858585;
        width: 250px;

    }

    .olho {
        margin-top: 10px;
        margin-left: 135px;
        width: 20px;
    }

    .quantidade button {
        color: rgb(0, 0, 0);
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 17px;


    }

    #preco {
        margin-top: 5px;

    }

    #quantidade {
        font-size: 17px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    .quantidade {
        margin-left: 100px;
        margin-top: -38px;
        position: static;
        font-weight: bold;
    }


    button.add-to-cart {
        background: linear-gradient(to bottom, #666, #000);
        /* Gradiente do cinza ao preto */
        color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        /* Sombra para dar destaque */
        font-size: 9px;
        margin-left: 10px;
    }



}

@media screen and (min-width: 1201px) and (max-width: 1330px) {

    #carrinho {
        width: 50px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
        right: 12px;
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        margin-top: 4px;
        z-index: 1050;
    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash1,
    #plebeusSmash3,
    #plebeusSmash5,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 200px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        padding: 0 0 0 10px;
        display: flex;
        margin-top: 30px;
        padding: 18px 40px 0 18px;


    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeusSmash4,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #sobremesas2,
    #milkShake4,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 200px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        padding: 0 0 0 10px;
        display: flex;
        margin-top: 30px;
        padding: 17px 40px 0 15px;

    }

    #sobremesas1, #sobremesas2 {
        height: 230px;
    }

    #plebeusSmash5,
    #plebeusSmash4,
    #nobresConvidados3,
    #plebeus1,#plebeus2,
    #escudeiros5 {
        height: 230px;
    }

    #plebeus4,
    #plebeus3,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas6,
    #nobresConvidados1,
    #nobresConvidados2,
    #escudeiros6 {
        height: 275px;

    }

    #reisRainhas5,
    #reisRainhas7,
    #escudeiros3,
    #escudeiros4 {
        height: 280px;
    }

    #secao1,
    #secao2,
    #secao3,
    #secao4,
    #secao5,
    #secao6,
    #secao7,
    #secao8,
    #secao9 {

        margin: 14px;


    }

    li {
        font-size: 11px;
    }

    .texto h3 {
        font-size: 20px;
        margin: 0 0 0 12px;


    }

    .texto h4 {
        font-size: 15px;
        margin: 4px 0 0 12px;

    }

    /* Infor do produto */
    .texto p {
        margin: 15px 0 15px 12px;
        font-family: "Cabin", serif;
        font-size: 17px;
        color: #858585;
        width: 260px;
    }


    .img-direita {
        padding: 0;

        width: 180px;
        height: 140px
    }

    .img-esquerda {
        padding: 0;

        width: 180px;
        height: 140px;
    }

    .olho {
        margin-top: 10px;
        margin-left: 225px;
        width: 20px;
    }

    .quantidade button {
        color: rgb(0, 0, 0);
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 17px;


    }

    #preco {
        margin-top: 5px;

    }

    #quantidade {
        font-size: 17px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    .quantidade {
        margin-left: 100px;
        margin-top: -43px;
        position: static;
        font-weight: bold;
    }


    button.add-to-cart {
        background: linear-gradient(to bottom, #666, #000);
        /* Gradiente do cinza ao preto */
        color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        /* Sombra para dar destaque */
        font-size: 9px;
        margin-left: 10px;
    }

    #carrinho-container {
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        top: 402px;
        /* Distância do topo */
        right: 12px;
        /* Distância da direita */
        z-index: 1050;
        /* Mantém acima de outros elementos */
    }

    #carrinho {
        width: 15px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
    }



}

@media screen and (min-width: 1331px) and (max-width: 1400px) {
    #carrinho {
        width: 18px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
        right: 12px;
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        margin-top: 5px;
        z-index: 1050;
    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash1,
    #plebeusSmash3,
    #plebeusSmash5,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 200px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        padding: 0 0 0 10px;
        display: flex;
        margin-top: 30px;
        padding: 18px 40px 0 18px;


    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeusSmash4,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 200px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        padding: 0 0 0 10px;
        display: flex;
        margin-top: 30px;
        padding: 17px 40px 0 15px;

    }

    #sobremesas1,  #sobremesas2 {
        height: 240px;
    }

    #plebeusSmash5,
    #plebeusSmash4,
    #nobresConvidados3,
    #plebeus1,#plebeus2,
    #escudeiros5 {
        height: 240px;
    }

    #nobresConvidados2 {
        height: 270px;
    }

    #plebeus4,
    #plebeus3,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas6,
    #nobresConvidados1,
    #escudeiros6 {
        height: 250px;

    }
    

    #reisRainhas5,
    #reisRainhas7,
    #escudeiros3,
    #escudeiros4 {
        height: 280px;
    }

    #secao1,
    #secao2,
    #secao3,
    #secao4,
    #secao5,
    #secao6,
    #secao7,
    #secao8,
    #secao9 {

        margin: 14px;


    }

    li {
        font-size: 13px;
    }

    .texto h3 {
        font-size: 20px;
        margin: 0 0 0 12px;


    }

    .texto h4 {
        font-size: 15px;
        margin: 4px 0 0 12px;

    }

    /* Infor do produto */
    .texto p {
        margin: 15px 0 15px 12px;
        font-family: "Cabin", serif;
        font-size: 17px;
        color: #858585;
        width: 260px;
    }


    .img-direita {
        padding: 0;

        width: 180px;
        height: 140px
    }

    .img-esquerda {
        padding: 0;

        width: 180px;
        height: 140px;
    }

    .olho {
        margin-top: 10px;
        margin-left: 225px;
        width: 20px;
    }

    .quantidade button {
        color: rgb(0, 0, 0);
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 17px;


    }

    #preco {
        margin-top: 5px;

    }

    #quantidade {
        font-size: 17px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    .quantidade {
        margin-left: 100px;
        margin-top: -43px;
        position: static;
        font-weight: bold;
    }


    button.add-to-cart {
        background: linear-gradient(to bottom, #666, #000);
        /* Gradiente do cinza ao preto */
        color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        /* Sombra para dar destaque */
        font-size: 9px;
        margin-left: 10px;
    }

    #carrinho-container {
        position: absolute;
        /* Agora, ele fica posicionado dentro de um contêiner específico */
        top: 402px;
        /* Distância do topo */
        right: 12px;
        /* Distância da direita */
        z-index: 1050;
        /* Mantém acima de outros elementos */
    }

    #carrinho {
        width: 15px;
        /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
    }
}
