@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
#logo {
    width: 500px;
    margin-top: 80px;
    margin-bottom: 5px;
    
}

#telaInicio {
    background-color: black;
}
 .conteudo {
    text-align: center;
 }

 button {
    background-color: #FDF3C8 ;
    border-radius: 10px;
    border: none;
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 220px;
    height: 40px;

 }

 a {
    text-decoration: none;
    color: rgb(0, 0, 0);

 }

 @media screen and (max-width: 767px) {
   #logo {
      width: 380px;
      
  }

  button {
   font-size: 15px;
   width: 175px;
   height: 30px;
}
 }
