@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
#logo {
    max-width: 500px;
    margin-top: 80px;
    margin-bottom: 5px;
    
}

#telaInicio {
    background-color: black;
}
 .conteudo {
    text-align: center;
 }

 button {
    background-color: #FDF3C8 ;
    border-radius: 10px;
    border: none;
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    width: 220px;
    height: 40px;

 }

 a {
    text-decoration: none;
    color: rgb(0, 0, 0);

 }

 @media screen and (max-width: 600px) {
   #logo {
      width: 320px;
      
  }

  button {
   font-size: 11px;
   width: 140px;
   height: 28px;
}
 }

 @media screen and (min-width: 601px) and (max-width: 767px) {
   #logo {
      width: 290px;
      margin-top: 15px;
      padding: 0;
      
  }

  button {
   font-size: 11px;
   width: 130px;
   height: 25px;
   margin-bottom: 50px;
}
 }
