/* Esconde todos os elementos inicialmente */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Caprasimo&display=swap');
.te{
    margin-left: 2px;
    margin-right: 10px;
}
.carousel {
    max-height: 100%;
}
.quantidade button {
    color: rgb(0, 0, 0);
    border: none;
    background-color: white;
    margin-bottom: 10px;
    font-size: 12px;

}

#preco {
    margin-top: 20px;

}

#quantidade {
    font-size: 12px;
}

.quantidade {
    margin-left: 100px;
    margin-top: -38px;
    position: static;
}


button.add-to-cart {
    background-color: black;
    color: white;
    font-size: 8px;
}

.preco-qtde {
    display: flex;


}

/* Muda a cor da opção quando clicada */
.active-link {
    color: #949494;
    background-color: #000000;


}

/* Estiliza o hiperlink da opção */
a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;

}

/* Estiliza o título da opção escolhida */
#titulo-secao {
    background-color: #4F4D4D;
    color: #FFFFFF;
    margin: 0 0 -12px 0;
    text-align: center;
    font-size: 20px;
}

/* Estiliza a img carrinho */

#carrinho-container {
    position: fixed;
    top: 370px; /* Distância do topo */
    right: 12px; /* Distância da direita */
    z-index: 1050; /* Mantém acima de outros elementos */
}

#carrinho {
    width: 15px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    cursor: pointer;
    position: relative;
}


/* Quando clicada, deve ficar 20% maior */
#carrinho:hover {
    transform: scale(1.2);
}

/* Título do produto*/
.texto h3 {

    font-size: 20px;
    margin: 12px;


}

.texto h4 {

    font-size: 12px;
    margin: 12px;

}

/* Infor do produto */
.texto p {
    margin: 12px;
    font-family: "Cabin", serif;
    font-weight: 900;
    color: #858585;
    width: 250px;

}

/* Estiliza a caixa de produtos */
#plebeusSmash1, #plebeusSmash3, #plebeusSmash5, #plebeus1, #plebeus3, #reisRainhas1, #reisRainhas3, #reisRainhas5, #reisRainhas7, #nobresConvidados1, #nobresConvidados3, 
#escudeiros1, #escudeiros3, #escudeiros5, #escudeiros7, #milkShake1, #milkShake3, #sobremesas1, #sobremesas3, #cerveja1, #cerveja3, #cerveja5, #cerveja7, #cerveja9, 
#bebida1, #bebida3, #bebida5, #bebida7, #bebida9, #bebida11, #bebida13, #bebida15, #bebida17{
    width: 100%; /* Define a largura da div */
    height: 210px;
    box-shadow: 0px 0px 3px ;
    padding: 0 0 0 10px;
    display: flex;
    margin-top: 30px;
   
    
   

    
   
    
    
}

/* Estiliza a caixa de produtos */
#plebeusSmash2, #plebeusSmash4, #plebeus2, #plebeus4, #reisRainhas2, #reisRainhas4, #reisRainhas6, #nobresConvidados2, #escudeiros2, #escudeiros4, #escudeiros6, 
#milkShake2, #milkShake4, #sobremesas2, #cerveja2, #cerveja4, #cerveja6, #cerveja8, #bebida2, #bebida4, #bebida6, #bebida8, #bebida10, #bebida12, #bebida14, #bebida16{
    width: 100%; /* Define a largura da div */
    height: 210px;
    box-shadow: 0px 0px 3px ;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;

}


#secao1,
#secao2,
#secao3,
#secao4,
#secao5,
#secao6,
#secao7,
#secao8,
#secao9 {
    display: grid;



}

.img-direita {
    padding: 15px 0 0 0;
    margin-left: 60px;
    width: 200px;
    height: 160px;
    

}

.img-esquerda {
    padding: 15px 0 0 0;
    margin-left: 60px;
    width: 200px;
    height: 160px;

}

.imgs {
    display: flex;
    flex-direction: column;

}

.olho {
    margin-top: 10px;
    margin-left: 210px;
    width: 20px;
}

.texto {
    width: 250px;
}



.cabeca {
    height: 300px;
    width: 100%;


    background-image: url(imgs/cabeçalho.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-size: cover;
    height: 35px;
  
    justify-content: center;


}

li {
    padding: 5px 2px;
    color: #FFFFFF;
    font-family: "Caprasimo", serif;
    font-size: 14px;
    margin: 0 12px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}

li:hover {
    transform: scale(1.05);
    /* 20% maior */
}

footer {
    margin-top: 60px;
    background-color: black;
    color: white;
    text-align: center;
}

/* Esconde a navbar em telas maiores que 1024px */
@media (min-width: 1024px) {
    .navbar {
        display: none !important;
    }
}

/* Mostra a navbar apenas em telas menores que 1024px */
@media (max-width: 1023px) {
    .navbar {
        display: flex !important;
    }
}

@media (max-width: 1024px) {
    .barra-escolha {
        display: none;
    }
}

@media (max-width: 1024px) {
    .active-link {
        color: #ffffff;
        background-color: #000000;
        padding: 7px 100px 7px 10px;



    }

    .navbar-toggler {
        display: block !important;
        /* Garante que o botão apareça */
    }
}

@media (min-width: 1025px) {
    .navbar-toggler {
        display: none !important;
        /* Oculta o botão em telas maiores */
    }
}


@media screen and (max-width: 600px) {
    #carrinho-container {
        top: 205px; /* Distância do topo */
        right: 372px;
    }
    
    #carrinho {
        width: 15px; /* Ajuste o tamanho conforme necessário */
        top: -18px;
        left: 365px;
    }
    ul {
        margin-top: 110px;
    }
    .active-link {
        color: white;
        background-color: black;
        padding: 7px 160px 7px 10px;
    }
    a {
        color: #000000;
    }

    .navbar {
        background-color: black !important;
    }

    .navbar-toggler {
        border: 1px solid white;
        /* Define a cor e espessura da borda */
        border-radius: 3px;
        /* Arredondar as bordas */
        padding: 5px;
        /* Ajuste de tamanho */
        width: 17px;
        height: 17px;
        margin-top: -2px;
    }

    .navbar-toggler-icon {
        width: 10px;
        /* Ajuste o tamanho conforme necessário */
        height: 10px;
        /* Ajuste o tamanho conforme necessário */
        color: rgb(255, 255, 255);
        margin-top: -20px;
        margin-left: -2px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .d-block {
        height: 160px;
        width: 100%;
    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash1,
    #plebeusSmash3,
    #plebeusSmash5,
    #escudeiros1,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 160px;
        /* Define a altura da div */
        border: 2px solid rgb(242, 242, 242);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;


    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #escudeiros2,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 160px;
        /* Define a altura da div */
        border: 2px solid rgb(242, 242, 242);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;



    }
    #plebeusSmash5, #plebeusSmash4, #nobresConvidados3,#plebeus2, #plebeus1, #escudeiros5 {
        height: 178px;
    }

    #plebeus4,#plebeus3,#reisRainhas2,
    #reisRainhas4,#reisRainhas1,
    #reisRainhas3,#reisRainhas6, #nobresConvidados1,#nobresConvidados2,  #escudeiros6  {
        height: 190px;
        width: 100%;
    }

    #reisRainhas5,
    #reisRainhas7,#escudeiros3,#escudeiros4 {
        height: 210px;
    }

    .img-esquerda {
        padding: 15px 0 0 0;
        margin-left: -26px;
        width: 140px;
        height: 120px;

    }

    .img-direita {
        padding: 15px 0 0 0;
        margin-left: -26px;
        width: 140px;
        height: 120px;

    }

    .texto h3 {
        font-size: 16px;
        margin: 12px;
        width: 180px;

    }
    /* Infor do produto */
    .texto p {
        margin: 15px 0 15px 12px;
        font-size: 12px;
        width: 185px;
    }

    .texto h4 {
        font-size: 13px;
    }

    .olho {
        margin-top: 3px;
        margin-left: 106px;
        width: 18px;
    }
    .quantidade button {
        font-size: 15px;
    }
    
    #preco {
        margin-top: -8px;
    
    }
    
    #quantidade {
        font-size: 15px;
    }
    
    .quantidade {
        margin-left: 85px;
        
    }
    
    button.add-to-cart {
        margin-left: 8px;
        font-size: 8px;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px){
    .te{
        margin-right: 50px;
    }
    
    #carrinho-container {
        top: 205px; /* Distância do topo */
        right: 372px;
    }
    
    #carrinho {
        width: 15px; /* Ajuste o tamanho conforme necessário */
        top: -18px;
        left: 365px;
    }
    ul {
        margin-top: 110px;
    }
    .active-link {
        color: white;
        background-color: black;
        padding: 7px 160px 7px 10px;
    }
    a {
        color: #000000;
    }

    .navbar {
        background-color: black !important;
    }

    .navbar-toggler {
        border: 1px solid white;
        /* Define a cor e espessura da borda */
        border-radius: 3px;
        /* Arredondar as bordas */
        padding: 5px;
        /* Ajuste de tamanho */
        width: 17px;
        height: 17px;
        margin-top: -2px;
    }

    .navbar-toggler-icon {
        width: 10px;
        /* Ajuste o tamanho conforme necessário */
        height: 10px;
        /* Ajuste o tamanho conforme necessário */
        color: rgb(255, 255, 255);
        margin-top: -20px;
        margin-left: -2px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .d-block {
        height: 160px;
        width: 100%;
    }

    /* Estiliza a caixa de produtos */
#plebeusSmash1, #plebeusSmash3, #plebeusSmash5, #plebeus1, #plebeus3, #reisRainhas1, #reisRainhas3, #reisRainhas5, #reisRainhas7, #nobresConvidados1, #nobresConvidados3, 
#escudeiros1, #escudeiros3, #escudeiros5, #escudeiros7, #milkShake1, #milkShake3, #sobremesas1, #sobremesas3, #cerveja1, #cerveja3, #cerveja5, #cerveja7, #cerveja9, 
#bebida1, #bebida3, #bebida5, #bebida7, #bebida9, #bebida11, #bebida13, #bebida15, #bebida17{
    width: 550px; /* Define a largura da div */
    height: 210px;
    margin-top: 60px;
    
}

/* Estiliza a caixa de produtos */
#plebeusSmash2, #plebeusSmash4, #plebeus2, #plebeus4, #reisRainhas2, #reisRainhas4, #reisRainhas6, #nobresConvidados2, #escudeiros2, #escudeiros4, #escudeiros6, 
#milkShake2, #milkShake4, #sobremesas2, #cerveja2, #cerveja4, #cerveja6, #cerveja8, #bebida2, #bebida4, #bebida6, #bebida8, #bebida10, #bebida12, #bebida14, #bebida16{
    width: 550px; /* Define a largura da div */
    height: 210px;


}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #carrinho-container {
        position: fixed;
        top: 187px; /* Distância do topo */
        right: 10px; /* Distância da direita */
        z-index: 1050; /* Mantém acima de outros elementos */
    }
    
    #carrinho {
        width: 14px; /* Ajuste o tamanho conforme necessário */
        height: auto;
        cursor: pointer;
    }
    ul {
        margin-top: 110px;
    }
    li {
        padding: 5px 2px;
        width: 100%;
        color: #000000;
        font-family: "Caprasimo", serif;
        font-size: 14px;
        margin: 0 12px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

    }

    span {
        color: transparent;
    }

    .active-link {
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 7px 160px 7px 10px;



    }

    .barra-escolha a {
        /* Estilo normal dos links */
        background-color: transparent;
        /* Fundo transparente por padrão */
        color: white;
        /* Cor do texto padrão */
        padding: 10px;
        display: block;
    }

    .barra-escolha a.active-link {
        background-color: black;
        /* Fundo preto para o link ativo */
        color: white;
        /* Cor do texto em branco */
    }


    a {
        color: #000000;
        text-decoration: none;
        margin-right: 5px;

    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar {
        background-color: black !important;
    }

    .navbar-toggler {
        border: 1px solid white;
        /* Define a cor e espessura da borda */
        border-radius: 3px;
        /* Arredondar as bordas */
        padding: 5px;
        /* Ajuste de tamanho */
        width: 17px;
        height: 17px;
        margin-top: -2px;
    }

    .navbar-toggler-icon {
        width: 10px;
        /* Ajuste o tamanho conforme necessário */
        height: 10px;
        /* Ajuste o tamanho conforme necessário */
        color: white;
        margin-top: -20px;
        margin-left: -2px;
    }

    .d-block {
        height: 160px;
        width: 100%;
    }

    #plebeusSmash1,
    #plebeusSmash3,
    #plebeus1,
    #plebeus3,
    #reisRainhas1,
    #reisRainhas3,
    #reisRainhas5,
    #reisRainhas7,
    #nobresConvidados1,
    #nobresConvidados3,
    #escudeiros1,
    #escudeiros3,
    #escudeiros5,
    #escudeiros7,
    #milkShake1,
    #milkShake3,
    #sobremesas1,
    #sobremesas3,
    #cerveja1,
    #cerveja3,
    #cerveja5,
    #cerveja7,
    #cerveja9,
    #bebida1,
    #bebida3,
    #bebida5,
    #bebida7,
    #bebida9,
    #bebida11,
    #bebida13,
    #bebida15,
    #bebida17 {
        width: 100%;
        /* Define a largura da div */
        height: 145px;
        /* Define a altura da div */
        border: 2px solid rgb(242, 242, 242);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;
        margin-top: 40px;

    }

    /* Estiliza a caixa de produtos */
    #plebeusSmash2,
    #plebeus2,
    #plebeus4,
    #reisRainhas2,
    #reisRainhas4,
    #reisRainhas6,
    #nobresConvidados2,
    #escudeiros2,
    #escudeiros4,
    #escudeiros6,
    #milkShake2,
    #milkShake4,
    #sobremesas2,
    #cerveja2,
    #cerveja4,
    #cerveja6,
    #cerveja8,
    #bebida2,
    #bebida4,
    #bebida6,
    #bebida8,
    #bebida10,
    #bebida12,
    #bebida14,
    #bebida16 {
        width: 100%;
        /* Define a largura da div */
        height: 145px;
        /* Define a altura da div */
        border: 2px solid rgb(242, 242, 242);
        /* Define a borda */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        display: flex;
        margin-top: 40px;


    }

    #plebeusSmash5, #plebeusSmash4, #nobresConvidados3,#plebeus2, #plebeus1, #escudeiros5 {
        height: 160px;
    }

    #plebeus4,#plebeus3,#reisRainhas2,
    #reisRainhas4,
    #reisRainhas3,#reisRainhas6, #nobresConvidados1,#nobresConvidados2,  #escudeiros6 {
        height: 175px;
        width: 100%;
    }

    #reisRainhas5,
    #reisRainhas7, #reisRainhas1, #escudeiros4, #escudeiros3  {
        height: 190px;
    }
    .te {
        margin-right: 0;
        margin-left: 0;
    }


    .img-direita {
        padding: 15px 0 0 0;
        margin-left: -38px;
        width: 110px;
        height: 100px;
    }

    .img-esquerda {
        padding: 15px 0 0 0;
        margin-left: -35px;
        width: 110px;
        height: 100px;

    }

    .texto h3 {
        font-size: 15px;
        margin: 12px 7px;
        width: 170px;

    }

    /* Infor do produto */
    .texto p {
        margin: 7px;
        font-family: "Cabin", serif;
        font-weight: 900;
        color: #858585;
        font-size: 11px;
        width: 170px;

    }
    
    .texto h4{
        font-size: 12px;
        margin: 12px 7px;
    }
    .olho {
        margin-top: 5px;
        margin-left: 70px;
        width: 15px;
    }

    .quantidade button {
        font-size: 13px;
    }
    
    #preco {
        margin-top: -5px;
    
    }
    
    #quantidade {
        font-size: 13px;
        color: #000000;
    }
    
    .quantidade {
        margin-left: 75px;
        margin-top: -30px;
        
    }
    
    button.add-to-cart {
        margin-left: 8px;
        font-size: 8px;
    }

}
